.time-container {
    border: 1px solid #D1D1D2;
    border-radius: 2%;
    width: 15rem;
    height: 12rem;
    text-align: center;
}

.father p {
    text-align: center;
}

.margin-top {
    margin-top: 2.5rem;
    font-size: 24px;
}

.contador {
    font-size: 20px;
}